body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tabs {
  width: 20%;
  background-color: #2f2f2f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 80%;
}

.tab {
  background-color: #2f2f2f;
  color: white;
  border: none;
}

.tab-selected {
  background-color: #404040;
  color: white;
  border: none;
}
